
<div class="container">
    

<% @array_passives.each do |p| %> <br/>
      <%= p.sentence %> <br/>
    <%= p.status %>  <br/>
    <%= p.answer %> <br/>
    <%= p.word_prompt %><br/>
    <%= p.transform %> <br/>
    <%= p.id %> <br/>
<% end %> 

<p>Arrray tenses </p><br/>
<% @array_tenses.each do |p| %> <br/>
    <%= p.sentence %> <br/>
    <%= p.status %>  <br/>
    <%= p.answer %> <br/>
    <%= p.word_prompt %><br/>
    <%= p.transform %> <br/>
    <%= p.id %> <br/>
<% end %> 

<p> Arry conditionals </p><br/>
<% @array_conditionals.each do |p| %> <br/>
    <%= p.sentence %> <br/>
    <%= p.status %>  <br/>
    <%= p.answer %> <br/>
    <%= p.word_prompt %><br/>
    <%= p.transform %> <br/>
    <%= p.id %> <br/>
<% end %> 

<p> Arry REPO</p><br/>
<% @array_reported.each do |p| %> <br/>
    <%= p.sentence %> <br/>
    <%= p.status %>  <br/>
    <%= p.answer %> <br/>
    <%= p.word_prompt %><br/>
    <%= p.transform %> <br/>
    <%= p.id %> <br/>
<% end %> 

<p> Arry subjunctives</p><br/>
<% @array_subjunctives.each do |p| %> <br/>
    <%= p.sentence %> <br/>
    <%= p.status %>  <br/>
    <%= p.answer %> <br/>
    <%= p.word_prompt %><br/>
    <%= p.transform %> <br/>
    <%= p.id %> <br/>
<% end %> 

<p>Aray modals </p>

<% @array_modals.each do |p| %> <br/>
    <%= p.sentence %> <br/>
    <%= p.status %>  <br/>
    <%= p.answer %> <br/>
    <%= p.word_prompt %><br/>
    <%= p.transform %> <br/>
    <%= p.id %> <br/>
<% end %> 
<br/>
<p>Array geruds </p>
<% @array_gerunds.each do |p| %> <br/>
    <%= p.sentence %> <br/>
    <%= p.status %>  <br/>
    <%= p.answer %> <br/>
    <%= p.word_prompt %><br/>
    <%= p.transform %> <br/>
    <%= p.id %> <br/>
<% end %> 
<div></div>

