<div class="container", id="test">

   
        <div class="col-xs-10 col-xs-offset-1">
            
            <h1>Complete the test</h1>
            <p>Your test consists of <%= pluralize @quantity, 'question' %><br/>
            </p>
            <br/>
            <% @selected_array.each do |e| %> 
            <div class="exercise">
                <p><%= e.sentence %></p>
                <% if e.word_prompt %>
                <b><%= e.word_prompt %></b><br/>
                <% end %>
                <% if e.transform %>
                  <%= e.transform %><br/>
                <% end %>   
                
                <button type="button" class="btn btn-info" 
                data-toggle="collapse" data-target="#<%= e.id %>" >See answer
                </button>
                <br/><br/>
                <div id="<%= e.id %>" class="collapse">
                   <%= e.answer %> 
                </div><!-- end demo collapse --> 
                <br/>
            </div><!-- End exercise --> 
            <% end %>   
        </div><!-- col md 8 -->
            
    

    <div>
        <% if @show_warning_message == true %>
        <%= @msg %>
        <% end %> 
    </div>
        
</div><!-- end container --><br/>











